<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.solvd.onlinestore.persistence.OnlineStoreRepository">
    <insert id="create" keyColumn="id" keyProperty="onlineStore.id" useGeneratedKeys="true">
        insert into online_stores (admin_id, name) values (#{adminId}, #{onlineStore.name})
    </insert>

    <select id= "findByName" resultMap="OnlineStoreResultMap">
        select id from online_stores where name = #{name}
    </select>

    <resultMap id="OnlineStoreResultMap" type="com.solvd.onlinestore.domain.onlinestore.OnlineStore" autoMapping="false">
        <id property="id" column="id"/>
        <result property= "name" column="name"/>
    </resultMap>

    <update id= "update" useGeneratedKeys="false">
        update online_stores set name = #{name} where id = #{id}
    </update>

    <delete id= "delete">
        delete from online_stores where id = #{id}
    </delete>
</mapper>